html, body {
	height: 100%;
	margin: 0;
	color: white;
	background-color: black;
}

#all {
	z-index: 2;
	position: relative;
	height: 100%;
}
.bgd {	
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../images/solar-system-3.gif);
  opacity: 1;
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
	height: 100%;
}
.planets {
  display: none;
}
.planets span {
  visibility: hidden;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  z-index: 1;
}
.planets a:hover span {
  visibility: visible;
}
#earth-pic {
  height: 18%;
  width: auto;
  position: absolute;
  top: 6em;
  left: 20em;
}
#sun-pic {
  height: 50%;
  width: auto;
  position: absolute;
  top: 10em;
  left: 30em;
}
#moon-pic {
  height: 10%;
  width: auto;
  position: absolute;
  top: 8em;
  left: 26em;
}
#mercury-pic {
  height: 6%;
  width: auto;
  position: absolute;
  top: 20em;
  left: 30em;
}
#venus-pic {
  height: 8%;
  width: auto;
  position: absolute;
  top: 12em;
  left: 60em;
}
#mars-pic {
  height: 15%;
  width: auto;
  position: absolute;
  top: 18em;
  left: 15em;
}
#jupiter-pic {
  height: 30%;
  width: auto;
  position: absolute;
  top: 26em;
  left: 20em;
}
#saturn-pic {
  height: 25%;
  width: auto;
  position: absolute;
  top: 26em;
  left: 50em;
}
#uranus-pic {
  height: 30%;
  width: auto;
  position: absolute;
  top: 2em;
  left: 45em;
}#neptune-pic {
  height: 20%;
  width: auto;
  position: absolute;
  top: 18em;
  left: 70em;
}
h1 {
	position: relative;
	top: 13em;
	text-align: center;
}
#navbar img {
	display:block;
	text-align: center;
	height: 5%;
	width: 5%;
	float: right;
}
#logo {
	float: right;
	
}
.active {
  background-color: #5F9EA0;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: none;
}
#navbar li {
  float: left;
}

.list a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

.list a:hover:not(.active), .dropdown:hover .dropbtn:not(.social) {
  background-color: #808080;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 20px;
}

.dropdown-content a:hover {background-color: #808080;}

.dropdown:hover .dropdown-content {
  display: block;
}
.footer-contacts {
	position: absolute;
	bottom: 5px;
	display: block;
}
.footer-contacts a {
  display: block;
  padding: 5px 15px;
}
.list-inline {
    padding-left: 0;
    margin-left: 0px;
    display: block;
}
.list-inline li {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
}
i {
    background-color: #e0e0e0;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    text-align: center;
    display: inline-block;
}
.social {
	width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.footer-contacts i:hover {
  background-color: #b3e5fc;
}

@media only screen and (max-height: 400px) {
  h1 {
  	font-size: 20px;
  	top: 15em;
   
  }
}