html, body {
  height: 100%;
  margin: 0;
  color: white;
  background-color: black;
}

#all {
  z-index: 2;
  position: relative;
  height: 100%;
}
.bgd {  
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../images/stars_galaxy.jpg);
    opacity: 1;
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  height: 100%;
}
h1 {
  position: relative;
  top: 13em;
  text-align: center;
}
#navbar img {
  display:block;
  text-align: center;
  height: 5%;
  width: 5%;
  float: right;
}
#logo {
  float: right;
  
}
.active {
  background-color: #5F9EA0;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: none;
}
#navbar li {
  float: left;
}

.list a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
}

.list a:hover:not(.active), .dropdown:hover .dropbtn:not(.social) {
  background-color: #808080;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 20px;
}

.dropdown-content a:hover {background-color: #808080;}

.dropdown:hover .dropdown-content {
  display: block;
}
#neptune{
  height: 100%;
  width: 100%;
  display: inline-block;    
  }
#neptune-img{
  grid-area: img;
line-height: 450px;
}
#neptune-img img{
  vertical-align: middle;
}

#tex {
grid-area: text;
font-size: 20px;
margin-top: 10%;

}


#calcul{

grid-area: form;
margin-top: 30%;  
}
#calcul div{
display: inline-block;
}
#pick{  
font-size: 48px;
}

#check {
background: #5F9EA0;
width: 20%;
border: none;
outline: none;
border-radius: 10px;
box-shadow: 3px 4px 3px black;
color: white;
cursor: pointer;
font-weight: bold;
padding: 5px;
text-align: center;
text-shadow: 1px 1px 1px black;
}
#check:hover {
border-color: #c2e3f7 #166797 #166797 #c2e3f7;
border-style: solid;
border-width: 2px;
}
#check:active {
box-shadow: 1px 2px 1px black;
transform: translateY(2px);
}

#grid-container {
display: grid;
grid-template-columns: 500px 400px 300px;
grid-template-rows: 450px;
grid-template-areas: 'img text form';
grid-gap: 10px;  
padding: 10px;
justify-content: left;

}
.footer-contacts {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 100%;
}
.footer-contacts a {
  display: block;
  padding: 5px 15px;
}
.list-inline {
    padding-left: 0;
    margin-left: 0px;
    display: block;
}
.list-inline li {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
}
i {
    background-color: #e0e0e0;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    text-align: center;
    display: inline-block;
}
.social {
  width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.footer-contacts i:hover {
  background-color: #b3e5fc;
}
#print {
	background: #5F9EA0;
	width: 10%;
	border: none;
	outline: none;
	border-radius: 10px;
	box-shadow: 3px 4px 3px black;
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
	text-align: center;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 10px;
}
#print:hover {
	border-color: #c2e3f7 #166797 #166797 #c2e3f7;
	border-style: solid;
	border-width: 2px;
}
#print:active {
	box-shadow: 1px 2px 1px black;
	transform: translateY(2px);
}
#download {
	background: #5F9EA0;
	width: 10%;
	border: none;
	outline: none;
	border-radius: 10px;
	box-shadow: 3px 4px 3px black;
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	text-shadow: 1px 1px 1px black;
}
#download:hover {
	border-color: #c2e3f7 #166797 #166797 #c2e3f7;
	border-style: solid;
	border-width: 2px;
}
#download:active {
	box-shadow: 1px 2px 1px black;
	transform: translateY(2px);
}

@media only screen and (max-height: 400px) {
  h1 {
    font-size: 20px;
    top: 15em;
   
  }
}